<% set_title_and_breadcrumb t('gallery.new') %>

<h1><%= t('gallery.new') %></h1>

<%= form_for :gallery,  :url => admin_galleries_path, :html => {:method => :post, :id => "admin-form"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end  %>
